body {
  background-color: black;
}

h1 {
  color:aliceblue;
}

h2 {
  color:grey;
}

ul {
  list-style-type: none;
  margin:0;
  padding:0;
  background-color: grey;
}

li{
  display: inline-block;
  font-size: 125%;
  padding: 1rem;
}

main {
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom:1rem;
  display:inline-block;
}

main h1 {
  color:black;
}

aside {
  float:right;
  clear:left;
  padding: 1rem;
  align-content: center;
  text-align: center;
  border-color:black;
  border-width: thick;
  background: white;
}

p {
  clear:both;
}

footer {
  background: black;
  color:aliceblue;
  text-align: center;
  padding: 1rem;
  clear:both;
}